%ul
  - result.versions.each do |version|
    - updates = []
    - version.changeset.each do |attribute, values|
      - from = values[0] ? "from '#{values[0]}' " : ''
      - updates << "#{attribute} #{from}to '#{values[1]}'"

    %li#left-align= "#{version.whodunnit} changed #{updates.join(' and ')}."
