- today = Date.today
%table#results_table
  %tr
    %th Card
    %th Value
    - (start_day..end_day).each do |day|
      %th= "#{day.dayname}, #{day}"
  - @scoring_cards.each do |sc|
    %tr
      %td= sc.title
      %td= sc.score
      - (start_day..today).each do |day|
        - result = @user.results.where(:scoring_card_id => sc.id , :date => day).try(:first)
        %td
          -if result
            %span.editable.result_score{:data => {:type => 'number', :'original-title' => "Enter new score :", :url => update_game_path(result), :pk => result.id } }
              = result.score
          - else
            %span.editable.new_result_score{:data => {:type => 'number', :'original-title' => "Enter new score :", :url => create_game_path, :pk => sc.id} }
              = '-'