- require 'json'
%table.scrollable
  %thead
    %tr
      %th
      %th Total
      - @active_cards.each do |sc|
        %th
          = image_tag sc.avatar.url(:thumb), :class => 'tooltip', :data=>{'original-title' => "description: #{sc.description}"}
          .block= image_tag sc.avatar.url(:thumb)
          = "#{sc.title}##{sc.score}"
      - @inactive_cards.each do |sc|
        %th.disabled
          = image_tag sc.avatar.url(:thumb), :class => 'tooltip', :data=>{'original-title' => "description: #{sc.description}"}
          .block= image_tag sc.avatar.url(:thumb)
          = "#{sc.title}##{sc.score}"
  
  %tbody
    - (start_day..end_day).each do |day|
      %tr
        %th= l day, :format => :long
        %td{:id => "total_score_of_#{day}"}
          %strong= @day_games.select{|g| g.date == day}.first.try(:score)
        - @active_cards.each do |sc|
          - result = @results.select{|r| r.scoring_card_id == sc.id && r.date == day}.first
          - values = {:comment => result.try(:comment), :score => result.try(:score)}
          - jsParams = {:scoring_card_id => sc.id, :date => day}
          %td
            %span.editable.result_score{:data => {:type => 'result', 'original-title' => "Enter new score", :url => update_game_path(@user), :params => jsParams.to_json, :value => values.to_json}}
              = result.try(:score) || '?'
            - if result
              = link_to result_history_path(:id => result.user_id, :result_id => result.id), :remote => true do
                %i.icon-list-alt.icon-black
        - @inactive_cards.each do |sc|
          %td.disabled= @results.select{|r| r.scoring_card_id == sc.id && r.date == day}.first.try :score
:javascript
  $(window).load(function(){
    alignHeaderAndBody();
  });
