- require 'json'
- last_editable_day = [end_day, Date.today].min

%table#results_table
  %tr
    %th Card
    %th Value
    - (start_day..end_day).each do |day|
      %th= "#{day.dayname}, #{day}"

  %tr
    %th Total
    %td
    - (start_day..last_editable_day).each do |day|
      %td{:id => "total_score_of_#{day}"}
        %strong= @user.day_games.find_by_date(day).try(:score)

  - @scoring_cards.each do |sc|
    %tr
      %td= sc.title
      %td= sc.score
      - (start_day..last_editable_day).each do |day|
        - result = @user.results.where(:scoring_card_id => sc.id , :date => day).first
        %td
          - values = {:comment => result.try(:comment), :score => result.try(:score)}
          - jsParams = {:scoring_card_id => sc.id, :date => day}
          %span.editable.result_score{:data => {:type => 'result', :'original-title' => "Enter new score :", :url => update_game_path(@user), :params => jsParams.to_json, :value => values.to_json}}
            = result.try(:score) || '-'