%h1#h1= "#{@user.full_name} Results"

%div
  %strong Average Score: 
  = @user.average_score

%div
  %strong Top Score: 
  = @user.top_score
  %strong Achieved on:
  = @user.top_score_date_long_format

= select_tag '', options_for_select(periods), :id => 'period_selector', :class => "selectpicker", :player_id => @user.id

#date
  = text_field_tag 'from_date', @start_day, :class => 'datePicker'
  = text_field_tag 'to_date', @end_day, :class => 'datePicker'
  %a{:class => "btn btn-primary btn-small", :onclick => "displayResult()" } 
    %i{:class => "icon-share-alt icon-white"}	

= render 'list_results', :start_day => @start_day, :end_day => @end_day