= form_for @user do |f|
  - if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :username
    = f.text_field :username
  .field
    = f.label :email
    = f.email_field :email
  .field
    = f.label :password
    = f.password_field :password
  .field
    = f.label :password_confirmation
    = f.password_field :password_confirmation
  .field
    = f.label :first_name
    = f.text_field :first_name
  .field
    = f.label :last_name
    = f.text_field :last_name
  .field
    = f.label :title
    = f.text_field :title
  .field  
    = f.label :avatar
    = f.file_field :avatar
  .field
    = f.label :coach_id
    = f.collection_select :coach_id, User.select([:id, :first_name, :last_name]), :id, :full_name , :prompt => true 
  .actions
    = f.submit 'Save', :class => "btn btn-primary"
