- players = @user.players
- if players.count > 0
  %p
    %b= "#{@user.short_name} coaches #{pluralize(players.count, 'player')}"
  %table.table-striped
    %tr
      %th Name
      %th Title
      %th Average score
      %th Top score
      %th Top score date
      %th
      - players.each do |p|
        %tr
          %td
            - if current_user.can_access_games_of p
              = link_to p.full_name, show_game_path(p)
            - else
              = p.full_name
          %td= p.title
          %td= p.average_score
          %td= p.top_score
          %td= p.top_score_date_long_format
          %td
            - if current_user.can_assign_cards_for p
              / Button to trigger modal
              = link_to 'Scoring cards', user_scoring_cards_path(p), :remote => true 

  / Modal
  .modal.hide.fade{'aria-hidden' => true, :role => 'dialog', :tabindex => '-1'}
    .modal-header
      %i.icon-remove.close{'aria-hidden' => true, 'data-dismiss' => 'modal', :type => 'button'}
      %h3#title
        
    .modal-body

    .modal-footer
      %button.btn{'aria-hidden' => true, 'data-dismiss' => 'modal'} Cancel
      %button.btn.btn-primary{:id => 'modal_submit'} Save
