- players = @user.players
- if players.any?
  %p
    Number of players:
    = players.count
  %table.table-striped
    %tr
      %th Name
      %th Title
      %th Average score
      %th Maximum score
      - players.each do |p|
        %tr
          %td= p.full_name
          %td= p.title
          %td= p.average_score
          %td= p.max_score