%h1 Listing users

%table.table-striped
  %tr
    %th First name
    %th Last name
    %th Title
    %th Coach name
    %th
    %th
    %th

  - @users.each do |user|
    %tr
      %td= user.first_name
      %td= user.last_name
      %td= user.title
      - if user.coach_id
      - coach = User.find(user.coach_id) 
        %td= coach.first_name + " " + coach.last_name
      - else
        %td
      %td= link_to 'Show', user, :class => "btn btn-link"
      %td= link_to 'Edit', edit_user_path(user), :class => "btn btn-link"
      %td= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-link"

%br

= link_to 'New User', new_user_path, :class => "btn btn-link"
