%h1 Listing users

%table.table-striped
  %tr
    %th Name
    %th Title
    %th Coach name
    %th
    %th
    %th

  - @users.each do |user|
    %tr
      %td= user.full_name
      %td= user.title
      - if user.coach
        %td= user.coach_name
      - else
        %td
      %td= link_to 'Show', user, :class => "btn btn-link"
      %td= link_to 'Edit', edit_user_path(user), :class => "btn btn-link"
      %td= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-link"

%br

= link_to 'New User', new_user_path, :class => "btn btn-link"
