/ %p#notice= notice

= image_tag @user.avatar.url(:thumb), :class => 'margin'

%p
  %b User name:
  = @user.username
%p
  %b First name:
  = @user.first_name
%p
  %b Last name:
  = @user.last_name
%p
  %b Title:
  = @user.title
%p
  %b Average Score:
  = @user.average_score
%p
  %b Top Score:
  = @user.top_score
  %b achieved on
  = @user.top_score_date_long_format
  
- if @user.coach
  %p
    %b Coach name:
    = @user.coach_name

= render 'players'


= link_to 'Edit', edit_user_path(@user), :class => "btn btn-link"
\|
= link_to 'Back', users_path, :class => "btn btn-link"
