/ %p#notice= notice

= image_tag @user.avatar.url(:thumb)
- 2.times do 
  %br/
%p
  %b User name:
  = @user.username
%p
  %b First name:
  = @user.first_name
%p
  %b Last name:
  = @user.last_name
%p
  %b Title:
  = @user.title
%p
  %b Average Score:
  = @user.average_score
%p
  %b Top Score:
  = @user.top_score
- if @user.coach
  %p
    %b Coach name:
    = @user.coach_name
- if @user.players.any?
  = render 'players', :is_team => false


= link_to 'Edit', edit_user_path(@user), :class => "btn btn-link"
\|
= link_to 'Back', users_path, :class => "btn btn-link"
