/ %p#notice= notice

%p
  %b User name:
  = @user.username
%p
  %b First name:
  = @user.first_name
%p
  %b Last name:
  = @user.last_name
%p
  %b Title:
  = @user.title
%p
  %b Coach name:
  = @user.coach.first_name + " " + @user.coach.last_name if @user.coach
  / - if @user.coach_id
  /   - coach = User.find(@user.coach_id)
  /   = coach.first_name + " " + coach.last_name

/ - players = User.where(:coach_id => @user.id)
/ - players = @user.players
= render 'players'


= link_to 'Edit', edit_user_path(@user), :class => "btn btn-link"
\|
= link_to 'Back', users_path, :class => "btn btn-link"
