%h1
  Show of scoring cards for player : 
  = @user.full_name

- if @user.scoring_cards.any?
  = form_for @user, :url => :update_player_scoring_cards, :method => :put do |f|
    %table.table-striped
      %tr
        %th Title
        %th Score
        %th Active?
        %th Remove?
      = f.fields_for :scoring_cards do |builder|
        %tr
          = render 'score_cards', :f => builder
    .actions
      = f.submit 'Save', :class => "btn btn-primary"
