%h1
  Show of scoring cards for player : 
  = @user.full_name
#scoring_cards_errors
/ = form_for @user, :url => :update_player_scoring_cards, :remote => true, :method => :put do |f|
/   - if @user.errors.any?
/     = render 'errors'
/   = link_to_add_fields 'Add Scoring Card', f, :scoring_cards, "score_cards"
/   %table{:style => "#{'display: none' if @user.scoring_cards.blank?}"}
/     %tr
/       %th Title
/       %th Score
/       %th Active?
/       %th Remove?
/     = f.fields_for :scoring_cards do |builder|
/       = render 'score_cards', :f => builder
/   .actions
/     = f.submit 'Save', :class => "btn btn-primary", :style => "#{'display: none' if @user.scoring_cards.count == 0}"

= nested_form_for @user, :url => :update_player_scoring_cards, :remote => true, :method => :put do |f|
  - if @user.errors.any?
    = render 'errors', :object => @user
  %table{:style => "#{'display: none' if @user.scoring_cards.blank?}"}
    %tr
      %th Title
      %th Score
      %th Active?
      %th Remove?
    = f.fields_for :scoring_cards, :wrapper => false do |scoring_cards_form|
      %tr.fields
        %td= scoring_cards_form.text_field :title
        %td= scoring_cards_form.text_field :score
        %td= scoring_cards_form.check_box :active
        %td= scoring_cards_form.link_to_remove "remove"
  = f.link_to_add "Add a scoring card", :scoring_cards
  %br/
  = f.submit 'Save', :class => "btn btn-primary", :style => "#{'display: none' if @user.scoring_cards.count == 0}"