%h1
  Show of scoring cards for player : 
  = @user.full_name
#scoring_cards_errors
= form_for @user, :url => :update_player_scoring_cards, :remote => true, :method => :put do |f|
  - if @user.errors.any?
    = render 'errors'
  = link_to_add_fields 'Add Scoring Card', f, :scoring_cards, "score_cards"
  %table{:style => "#{'display: none' if @user.scoring_cards.blank?}"}
    %tr
      %th Title
      %th Score
      %th Active?
      %th Remove?
    = f.fields_for :scoring_cards do |builder|
      = render 'score_cards', :f => builder
  .actions
    = f.submit 'Save', :class => "btn btn-primary", :style => "#{'display: none' if @user.scoring_cards.count == 0}"
