%p="Hi #{@player.full_name},"
%p
  This is to inform you that #{@coach.full_name} had changed your result for '#{@scoring_card.title}' at '#{@result.date.strftime "%A, %d %B %Y"}' to #{@result.score} with comment '#{@result.comment}'