%h1 Profile#edit

= form_for @user, :url => update_profile_path, :method => :put do |f|
  .field
    = f.label :username
    = f.text_field :username
  .field
    = f.label :email
    = f.email_field :email 
  .field
    = f.label :first_name
    = f.text_field :first_name
  .field
    = f.label :last_name
    = f.text_field :last_name
  .field
    = f.label :title
    = f.text_field :title
  .actions
    = f.submit 'Save'