%h4
  = @user.first_name.to_s + "\'s Profile !"
%p
  %b First name:
  = @user.first_name
%p
  %b Last name:
  = @user.last_name
%p
  %b Title:
  = @user.title
%p
  %b Coach name:
  / = User.find(@user.coach_id).first_name if @user.coach_id
  = @user.coach.first_name if @user.coach

- if @user.players.any?
  %p
    %b Players:
    = render 'users/players'

= link_to 'Edit', profile_edit_path