%h1 Profile#show

%h4
  = @user.first_name.to_s + "\'s Profile !"
%p
  %b First name:
  = @user.first_name
%p
  %b Last name:
  = @user.last_name
%p
  %b Title:
  = @user.title
%p
  %b Coach name:
  = @user.coach.first_name if @user.coach

- if @user.players.any?
  %p
    %b Players:
    = render 'users/players'

-if @user.id == current_user.id
  = link_to 'Edit', profile_edit_path, :class => "btn btn-link"
  \|
  = link_to 'Back', profile_path, :class => "btn btn-link"
-else
  = link_to 'Back', profile_path, :class => "btn btn-link"